Testing for overlaps in the datasets

In [1]:
import pandas as pd

In [2]:
training = pd.read_csv("data/HSP_SMILES.csv",encoding='unicode_escape',index_col=0)
data_6 = pd.read_csv("data/data_from_6.csv",encoding='unicode_escape')
data_42 = pd.read_csv("data/data_from_42.csv",encoding='unicode_escape')

In [3]:
training.head()

                          al          CAS          smiles   Î´D   Î´P  Î´H
0  1,1,1,2-Tetrachloroethane  b'630-20-6'  ClCC(Cl)(Cl)Cl  18.0   4.4  4.2
1      1,1,1-Trichloroethane   b'71-55-6'    CC(Cl)(Cl)Cl  16.8   4.3  2.0
2      1,1,1-Trifluoroethane  b'420-46-2'       CC(F)(F)F  14.6  10.0  0.0
3   1,1,2,2-Tetrabromoethane   b'79-27-6'  BrC(Br)C(Br)Br  21.0   7.0  8.2
4  1,1,2,2-Tetrachloroethane   b'79-34-5'  ClC(Cl)C(Cl)Cl  18.8   5.1  5.3

In [4]:
data_6.head()

      Name    Smile  total    H    P     D
0  PROPANE      CCC   13.1  0.0  0.0  13.1
1   BUTANE     CCCC   14.1  0.0  0.0  14.1
2  PENTANE    CCCCC   14.4  0.0  0.0  14.4
3   HEXANE   CCCCCC   14.9  0.0  0.0  14.9
4  HEPTANE  CCCCCCC   15.2  0.0  0.0  15.2

In [5]:
data_6["Smile"][0]

'CCC'

In [6]:
data_42.head()

             Name         Smile
0   1,3- butadien    C=CC=CÂ Â
1  1,3-BUTANEDIOL      CC(CCO)O
2     1,4 Dioxane      C1COCCO1
3  1-Chlorobutane  Â CCCCClÂ Â
4      1-Pentanol    CCCCCOÂ Â

In [24]:
data_6.shape

(84, 2)

In [19]:
i=0
for smile in data_6['Smile']:
    #print(smile)
    if smile in training['smiles'].to_list():
        print(smile)
        data_6.drop(data_6[data_6['Smile']==smile].index,inplace=True)
        i+=1
print(data_6.shape)        
#print (f'{i}/{data_6.shape[0]} is the same')

CCC
CCCC
CCCCC
CCCCCC
CCCCCCC
CCCCCCCC
CCCCCCCCC
CCCCCCCCCC
CCCCCCCCCCC
CCCCCCCCCCCC
CC(C)CC(C)(C)C
C1CCCCC1
CC(=O)OC=C
O=C1CCCCCO1
CCOCC
C1COCCO1
CO
CCO
CCCO
CCCCO
CCCCCO
CCCCCCCCO
CCCCCCCCCCO
CCNCC
CCCCN
C1CCOC1
CN(C)C=O
C=CC#N
(31, 6)

In [20]:
data_6.to_csv("data/data_from_6_filtered.csv")

In [23]:
i=0
for smile in data_42['Smile']:
    #print(smile)
    if smile in training['smiles'].to_list():
        print(smile)
        data_42.drop(data_42[data_42['Smile']==smile].index,inplace=True)
        i+=1
print(data_42.shape)        
#print (f'{i}/{data_6.shape[0]} is the same')

(84, 2)

In [25]:
data_42.to_csv("data/data_from_42_filtered.csv")

In [21]:
i=0
for smile in data_42['Smile']:
    #print(smile)
    if smile in data_6['Smile'].to_list():
        print(smile)
        i+=1
        
print (f'{i}/{data_6.shape[0]} is the same')

C=CC(=O)O
1/31 is the same

In [14]:
for smile in data_6['Name'].to_list():
    #print(smile)
    if smile.lower() in data_42['Name'].to_list():
        print(smile)

In [34]:
hspip=pd.read_csv('/home/darja/HSP-predictions/data/Solvents_exp.csv')
hspip.head()

,key,Type,δd,δp,δh,smiles,ID_type,ID
0,"1,1,1-Trichloroethane",Solvent,16.8,4.3,2.0,CC(Cl)(Cl)Cl,CAS,71-55-6
1,"1,3-Butanediol",Solvent,16.6,10.0,21.5,CC(O)CCO,CAS,107-88-0
2,"1,4-Butandiol Diacrylate",Solvent,16.8,9.1,4.2,C=CC(=O)OCCCCOC(=O)C=C,CAS,1070-70-8
3,"1,4-Dioxane",Solvent,19.0,1.8,7.4,C1COCCO1,CAS,123-91-1
4,1-Bromonaphthalene,Solvent,20.3,3.1,4.1,Brc1cccc2ccccc12,CAS,90-11-9

In [35]:
i=0
for smile in hspip['smiles']:
    #print(smile)
    if smile in training['smiles'].to_list():
        print(smile)
        hspip.drop(hspip[hspip['smiles']==smile].index,inplace=True)
        i+=1
print(i,hspip.shape)

CC(Cl)(Cl)Cl
CC(O)CCO
C=CC(=O)OCCCCOC(=O)C=C
C1COCCO1
Brc1cccc2ccccc12
CCCCO
CCCCCl
CCCCCO
CCCO
CCC(C)O
CCCCC(CC)COC(C)=O
CCC(CC)CO
CCCCC(CC)CO
CC(C)O
O=C1CCCN1
OCCCCl
CC(=O)OC(C)=O
CC(C)=O
CC#N
CC(=O)c1ccccc1
CC(=O)CC(C)=O
C=CC#N
Nc1ccccc1
COc1ccccc1
O=Cc1ccccc1
c1ccccc1
OCc1ccccc1
CCCCOC(=O)C(C)O
CCCC#N
O=C=O
S=C=S
ClC(Cl)(Cl)Cl
Clc1ccccc1
ClC(Cl)Cl
C1CCCCC1
OC1CCCCC1
O=C1CCCCC1
NC1CCCCC1
ClC1CCCCC1
ClCCOCCCl
CC(=O)CC(C)(C)O
CCCCOC(=O)c1ccccc1C(=O)OCCCC
CCNCC
CCOCC
CCSCC
OCCOCCO
CCCCOCCOCCOC(C)=O
COCCOCCOC(C)(C)C
CCCCOCCOCCO
CCOCCOCCO
CCOCCOCCOC(C)=O
COCCOCCO
NCCNCCN
CC(C)CC(O)CC(C)C
CC(C)CC(=O)CC(C)C
COCOC
CN(C)CCO
CN(C)C=O
COC(=O)c1ccccc1C(=O)OC
CCCCCCCCOC(=O)CCCCC(=O)OCCCCCCCC
CCCCC(CC)COC(=O)c1ccccc1C(=O)OCC(CC)CCCC
CCCNCCC
OCCCOCCCO
COCCCOCCCO
ClCC1CO1
CCO
NCCO
CCOC(C)=O
CCc1ccccc1
CCOC(=O)C(C)O
O=C1OCCO1
ClCCCl
OCCO
CCCCOCCOCC
CC(C)(C)OCCOC(C)(C)C
COCCOC(C)(C)C
CC(C)(C)OCCO
CCCCOCCO
CCOCCO
CCOCCOC(C)=O
CC(C)COCCO
COCCO
NC=O
O=C1CCCO1
OCC(O)CO
OC(C(F)(F)F)C(F)(F)F
CCCCCC
CC(C)CO
CC(C)COC(=O)C(C)C
CC1=CC(=O)CC(C)(C)C1
Cc1cccc(O)c1
CO
COC(C)=O
CCC(C)=O
CC(C)CC(C)O
ClCCl
C1COCCN1
c1ccc2ccccc2c1
CCCCOC(C)=O
CN1CCCC1=O
Clc1ccccc1Cl
COC(C)(C)CC(C)=O
CC1COC(=O)O1
CC(O)CO
COCC(C)O
Cc1ccc(C)cc1
c1ccncc1
C=Cc1ccccc1
CC(C)(C)O
C1CCOC1
OCC1CCCO1
CN(C)C(=O)N(C)C
Cc1ccccc1
ClC=C(Cl)Cl
CCN(CC)CC
NC(N)=O
116 (77, 8)

In [39]:
i=0
for smile in data_42['Smile']:
    #print(smile)
    if smile in hspip['smiles'].to_list():
        print(smile)
        hspip.drop(hspip[hspip['smiles']==smile].index,inplace=True)
        i+=1
print(i,data_6.shape)        
#print (f'{i}/{data_6.shape[0]} is the same')

0 (31, 6)

In [40]:
hspip.reset_index(inplace=True,drop=True)
hspip.to_csv('data/Solvents_exp_filtered.csv')